<div class="todo__checkbox">
  <label for="{{ id }}">
    {{ text }}
  </label>
  <input 
    id="{{ id }}"
    value="{{ text }}"
    type="checkbox" 
    ref="{{ toggle }}"
    {{ { checked: done } | attrs }}
  />
</div>