<label for="{{ value }}" class="todo__filter radio">
  <input 
    class="radio__button" 
    type="radio" 
    id="{{ value }}" 
    name="filter" 
    value="{{ value }}"
    ref="{{ toggle }}"
    {{ { checked: isChecked } | attrs }}>
  {{ text }}
  <div className="radio__indicator" />
</label>